<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Dboard</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <Icon Type="home" Theme="outline" Class="nav" /> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="containers" Match="NavLinkMatch.Prefix">
                <svg class="icon nav" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="6558" width="24" height="24"><path d="M83.45 266.48l-0.45 0.26v0.52l0.45-0.78zM549 453.17L871.45 267a24 24 0 0 0 0-41.57L549 39.26a72 72 0 0 0-72 0L154.55 225.43a24 24 0 0 0 0 41.57L477 453.17a72 72 0 0 0 72 0zM943 267.26v-0.52l-0.45-0.26 0.45 0.78zM441 515.52L119 329.61a24 24 0 0 0-36 20.79v371.29a72 72 0 0 0 36 62.36L441 970a24 24 0 0 0 36-20.78V577.88a72 72 0 0 0-36-62.36zM549 577.87v371.3A24 24 0 0 0 585 970l322-185.9a72 72 0 0 0 36-62.36V350.4a24 24 0 0 0-36-20.79L585 515.52a72 72 0 0 0-36 62.35z" p-id="6559" fill="#ffffff"></path></svg>
                Containers
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="images" Match="NavLinkMatch.Prefix">
                <svg   class="icon nav" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="12989" width="24" height="24"><path d="M205.653333 737.066667c-29.184 0-55.637333-23.893333-55.637333-52.906667s23.893333-53.034667 55.68-53.034667c31.914667 0 55.893333 23.893333 55.893333 52.992s-26.538667 52.906667-55.68 52.906667z m683.178667-288.554667c-5.76-42.325333-32-76.8-66.56-103.253333l-13.44-10.666667-10.837333 13.226667c-21.077333 23.893333-29.44 66.261333-26.88 97.92 2.56 23.978667 10.24 47.786667 23.637333 66.304-10.837333 5.546667-24.234667 10.666667-34.56 16.085333a225.706667 225.706667 0 0 1-71.68 10.666667H4.138667l-2.56 15.786666a297.813333 297.813333 0 0 0 23.978666 151.04l10.410667 18.56v2.56c64 105.941333 177.92 153.6 301.994667 153.6 238.677333 0 434.432-103.253333 527.232-325.674666 60.8 2.645333 122.197333-13.226667 151.04-71.509334l7.68-13.226666-12.8-7.978667c-34.56-21.077333-81.92-23.893333-121.6-13.226667l-0.768 0.085334z m-341.674667-42.325333h-103.594666v103.253333h103.68V406.101333l-0.085334 0.128z m0-129.834667h-103.594666v103.253333h103.68V276.48l-0.085334-0.128z m0-132.437333h-103.594666v103.253333h103.68v-103.253333h-0.085334z m126.72 262.272H570.88v103.253333h103.253333V406.101333l-0.298666 0.128z m-383.914666 0H187.008v103.253333h103.338667V406.101333l-0.426667 0.128z m129.28 0h-102.4v103.253333H419.84V406.101333l-0.64 0.128z m-257.28 0H59.733333v103.253333h103.594667V406.101333l-1.28 0.128z m257.28-129.834667h-102.4v103.253333H419.84V276.48l-0.64-0.128z m-129.92 0H187.178667v103.253333H290.133333V276.48l-0.682666-0.128z" fill="#ffffff" p-id="12990"></path></svg>
                Images
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="networks">
                <Icon Type="share-alt" Theme="outline" class="nav" />  Networks
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <svg t="1714447879857" class="nav" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="14158" width="24" height="24"><path d="M853.333333 85.333333H170.666667C134.4 85.333333 106.666667 113.066667 106.666667 149.333333v725.333334c0 36.266667 27.733333 64 64 64h682.666666c36.266667 0 64-27.733333 64-64V149.333333c0-36.266667-27.733333-64-64-64z m-21.333333 768H192v-170.666666h640v170.666666z m0-256H192v-170.666666h640v170.666666z m0-256H192V170.666667h640v170.666666z" p-id="14159" fill="#ffffff"></path><path d="M234.666667 725.333333h85.333333v85.333334h-85.333333zM234.666667 213.333333h85.333333v85.333334h-85.333333zM234.666667 469.333333h85.333333v85.333334h-85.333333z" p-id="14160" fill="#ffffff"></path></svg>
                Storage
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <Icon Type="user" Theme="outline" class="nav" />  Users
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <Icon Type="unordered-list" Theme="outline" class="nav" />  Registries
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <Icon Type="setting" Theme="outline" class="nav" />  Setting
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>

