@page "/"
@inject ILog log


@inject SqliteDbContext db

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
@code {

    protected override async Task OnInitializedAsync()
    {
        log.Info("home page loaded.");

        var users = db.Users.ToList();

        log.Info(users.ToJson());
    }
}