@page "/images"
@using Docker.DotNet.Models

@inject ILog log
@inject IMessageService message;
@inject Services.DockerService dockerService;


<h3>Images</h3>


@if (images == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Table TItem="ImagesListResponse" DataSource="@images">
        <TitleTemplate>
            <GridRow Gutter="10">
                <GridCol Span="3">
                    <Input @bind-Value="searchKey" Placeholder="搜索关键字" OnSearch="onSearch" />
                </GridCol>
                <GridCol>
                    <Button Type="primary" @onclick="()=>onSearch()">查询</Button>
                </GridCol>
                <GridCol>
                    <Button Type="primary" @onclick="()=>onNew()">新增</Button>
                </GridCol>
            </GridRow>
        </TitleTemplate>

        <ChildContent>
            <PropertyColumn Title="Name" Property="c=>c.ID">
            </PropertyColumn>
            <PropertyColumn Title="Image" Property="c=>c.RepoTags">
                @{
                    foreach (var item in context.RepoTags)
                    {
                        <Tag Color="#55acee" Style="border-radius:10px;">@item</Tag>
                    }
                }
            </PropertyColumn>
            <PropertyColumn Title="Size" Property="c=>c.Size">
                @(context.Size / 1024 / 1024) M
            </PropertyColumn>
            <PropertyColumn Title="Created" Property="c=>c.Created">
                @context.Created.ToString("yyyy-MM-dd HH:mm:ss")
            </PropertyColumn>

            <ActionColumn Title="操作">
                <Space>
                    <SpaceItem>
                        <Popconfirm Title="Are you sure delete this image?"
                                    OnConfirm="()=>onDelete(context.ID)">
                            <Button Size="small">Delete</Button>
                        </Popconfirm>
                    </SpaceItem>
                </Space>

            </ActionColumn>
        </ChildContent>
        <PaginationTemplate>
            <div style="margin:10px;">
                <Pagination ShowTotal="showTotal" Total="total" PageSize="pageSize" OnChange="onPageChange" />
            </div>
        </PaginationTemplate>
    </Table>

}



<Modal Title="New Image" @bind-Visible="pullPopup" OnOk="()=>onPull()" OkText="pullText">
    <GridRow Class="mb-2">
        <GridCol Class="col-2">Image</GridCol>
        <GridCol><Input TValue="string" @bind-Value="imageName"></Input></GridCol>
    </GridRow>
    <GridRow Class="mb-2">
        <GridCol Class="col-2">Tag</GridCol>
        <GridCol><Input TValue="string" @bind-Value="imageTag"></Input></GridCol>
    </GridRow>

</Modal>

@code {
    Func<PaginationTotalContext, string> showTotal = ctx => $"共 {ctx.Total} 条";

    private string pullText = "Pull";
    private bool pullPopup = false;

    private int pageIndex = 1; //第几页
    private int pageSize = 10;
    private string searchKey = "";

    private int total { get; set; }

    private IList<ImagesListResponse>? images;

    private string imageName = "";
    private string imageTag = "latest";

    protected override async Task OnInitializedAsync()
    {

        await onSearch();
    }

    async Task onSearch()
    {
        images = await dockerService.dockerClient.Images.ListImagesAsync(new Docker.DotNet.Models.ImagesListParameters());
        total = images.Count;

        StateHasChanged();
    }

    void onClose()
    {
        log.Info("onclose...");
        pullPopup = false;
    }

    async void onPull()
    {
        log.Info("start pull " + imageName);


        try
        {
            await message.Loading("loading...", 0);

            await dockerService.pullImage(imageName, imageTag);

            pullPopup = false;
            message.Destroy();

            await onSearch();

            await message.Success("success");

        }
        catch (Exception ex)
        {
            message.Error(ex.Message);
        }


    }

    void onPageChange()
    {

    }
    async void onDelete(string ID)
    {


        using (new MessageLoading(message))
        {
            try
            {
                await dockerService.Delete(ID);


                await onSearch();
            }
            catch (Exception ex)
            {
                log.Error(ex);
                message.Error(ex.Message);
            }

        }

    }
    void onNew()
    {
        pullPopup = true;
    }
}
